<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>634480644405-rr9kdrb29i9ob5148077jbaefe32s6bq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.634480644405-rr9kdrb29i9ob5148077jbaefe32s6bq</string>
	<key>API_KEY</key>
	<string>AIzaSyDb8-fBGRi0UX1wHK5vVt75XzfoLJnDMMY</string>
	<key>GCM_SENDER_ID</key>
	<string>634480644405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatappFirebase</string>
	<key>PROJECT_ID</key>
	<string>chatappflutter-13318</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappflutter-13318.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:634480644405:ios:126e4cd62e75743efb7c7c</string>
</dict>
</plist>